[flake8]
# Flake8 Itslef Configs
format=wemake
count=True
statistics=True
select = B,B9,C,D,DAR,E,F,N,RST,S,W,DUO

# Plugins Config
max-line-length = 80
max-complexity = 10
docstring-convention = google
ban-relative-imports = true

exclude =
    .git
    __pycache__
    pytest_cache
    build
    dist
    .venv
    ./database/migrations


ignore =
    A001    # redundant with W0622 (builtin override), which is more precise about line number
    D105    # missing docstring in magic method
    D212    # multi-line docstring summary should start at the first line
    E203    # whitespace before ':' (incompatible with Black)
    E501    # Line too long
    F821    # redundant with E0602 (undefined variable)
    Q000    # black already deals with quoting
    S101    # use of assert
    S405    # we are not parsing XML
    W503    # line break before binary operator (incompatible with Black)
    C0103   # two-lowercase-letters variable DO conform to snake_case naming style
    C0116   # redunant with D102 (missing docstring)
    C0301   # line too long
    R0902   # too many instance attributes
    R0903   # too few public methods
    R0904   # too many public methods
    R0912   # too many branches
    R0913   # too many methods
    R0914   # too many local variables
    R0915   # too many statements
    W0611   # redundant with F401 (unused import)
    W1203   # lazy formatting for logging calls
    VNE001  # short name
    WPS305  # f-strings
    WPS110  # common variable names (too annoying)
    WPS125  # redundant with W0622 (builtin override), which is more precise about line number
    WPS201  # too many imports
    WPS202  # too many module members
    WPS204  # overused expression
    WPS210  # too many local variables
    WPS211  # too many arguments
    WPS213  # too many expressions
    WPS214  # too many methods
    WPS220  # too deep nesting
    WPS221  # high Jones complexity
    WPS223  # too many elif branches
    WPS226  # string over-use: can't disable it per file?
    WPS230  # too many public instance attributes
    WPS237  # too complex f-string
    WPS306  # too cumbersome, asks to write class A(object)
    WPS317  # multi-line paramaters (incompatible with Black)
    WPS322  # multi-line strings (incompatible with attributes docstrings)
    WPS326  # implicit string concatenation
    WPS336  # explicit string concatenation
    WPS402  # noqa overuse
    WPS412  # __init__ modules with logic
    WPS421  # print statements
    WPS428  # statement with no effect (not compatible with attribute docstrings)
    WPS433  # redundant with C0415 (not top-level import)
    WPS529  # implicit dict.get usage (generally false-positive)

    #
    # MY CUSTOM DISABLES
    #

    B950    # Ignoring Large Line Lengths
    D100    # Missing docstrings in public package
    D101    # Missing docstrings in public classes.
    D103    # Missing docstrings in public module
    D104    # Missing docstrings in public function
    D107    # Missing docstrings in public class __init__
    D202    # Docstring content should start in ''' line
    WPS111  # Too short name.
    WPS229  # Try ... Except can have limited lines.
    WPS407  # Mutable Constants
    WPS426  # Lambda in Loops
    WPS430  # Nested Functions
    WPS432  # No magic numbers
    WPS442  # Varaible Shadowing
    WPS454  # Using "Exception" to catch all.
    WPS462  # Wrong usage of Docstring Multiline. (Using as multiline comments)
    WPS503  # Useless else statment

per-file-ignores =
    tests/*.py: S101, S105, S106, WPS118, WPS218        # There are multiple `assert`s in tests. / Hardcoded passwords / Too long fn. names / Too many Asserts
    autoapp.py: WPS453, S104      # It's a executable file, But there isn't a shebang / Binding Port to All Hosts
    NOTEXIST.py: XXX
