{% extends "base_layout.html" %} {% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <h1 class="display-3">Welcome to DevGag Backend Dashboard</h1>

        <p>
            This is DevGag Backend Dashboard which only applicable to Admins and Its currently Work In Progress.
        </p>

        <p>
            If you are a normal user. Please visit to Client Site from Here.
        </p>

        <p>
            <a href="https://devgag.herokuapp.com/" class="btn" style="background:rgb(96, 51, 180); color:white">Goto
                Client Site</a>
        </p>
    </div>
</div>
<!-- /.jumbotron -->

{% endblock %}
